<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f9fb0">  <td>18/07/16 11:54:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestLoad.beforeMethod()[pri:0, instance:LoadCash.LoadCash.TestLoad@6767c1fc]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>18/07/16 11:54:11</td>   <td>8635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLoad.test()[pri:0, instance:LoadCash.LoadCash.TestLoad@6767c1fc]">test</td> 
  <td>main@837764579</td>   <td></td> </tr>
</table>
